In [67]:
from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi
from pandas import DataFrame
import matplotlib.pyplot as plt
import numpy as np
import ipywidgets as widgets
from ipywidgets import interact

#https://stackoverflow.com/questions/26873127/show-dataframe-as-table-in-ipython-notebook
from IPython.display import display, HTML

In [68]:
class MongoDBInquisitor:
    def __init__(self, uri, databaseName):
        self.uri = uri
        self.client = None
        self.databaseName = databaseName
        self.databases = None
        self.database = None
        self.tables = None

    def connect(self) -> {}:
        try:
            self.client = MongoClient(self.uri, server_api=ServerApi('1'))
            self.databases = list(self.client.list_databases())
            self.database = self.client[self.databaseName]
            self.tables = self.database.list_collection_names()
            print("Connected...")
        except Exception as e:
            print(e)

    def getAggregation(self, tableName, pipeline) -> []:
        return list(self.database[tableName].aggregate(pipeline))

    def displayResults(self, res) -> None:
        display(res)

    def __str__(self):
        return self.uri + "\n"

In [69]:
uri = "mongodb+srv://420-514_A24:Str0ng_Passw0rd_420-514@collecteinterpretation.yuob2.mongodb.net/?retryWrites=true&w=majority&appName=CollecteInterpretation"    
inquisitor = MongoDBInquisitor(uri, "sample_training")
inquisitor.connect()

Connected...

In [52]:
#1_1

res1_1 = list(inquisitor.database['companies'].find().limit(10))
print(res1_1[0]["category_code"])

web

In [75]:
#1_2
pipeline = [
    { "$group": {"_id": "$category_code", "count": {"$sum": 1}}},
    { "$sort": {"count": -1} },
    { "$limit": 5}
]

companies = inquisitor.getAggregation("companies", pipeline)

inquisitor.displayResults(DataFrame(data=companies))

           _id  count
0          web   1947
1         None   1407
2     software   1356
3  games_video    528
4       mobile    520

In [43]:
#1_3
pipeline = [
    { "$match": {"founded_year": {"$gte": 2000} } },
    { "$sort": {"founded_year": 1}},
    { "$limit": 10 }
]

companies = inquisitor.getAggregation("companies", pipeline)
for elem in list(companies):
    print(elem["founded_year"])

2000
2000
2000
2000
2000
2000
2000
2000
2000
2000

In [83]:
#2_1
pipeline = [
    { "$unwind": "$offices" },
    { "$group": {"_id": "$offices.country_code", "countRes": {"$sum": 1}}},
    { "$sort": {"countRes": -1}}
]

companies = inquisitor.getAggregation("companies", pipeline)
inquisitor.displayResults(DataFrame(data=companies))

    _id  countRes
0   USA      5098
1   GBR       698
2   CAN       303
3   IND       243
4   DEU       205
..  ...       ...
95  KGZ         1
96  LAO         1
97  QAT         1
98  SAU         1
99  ECU         1

[100 rows x 2 columns]

In [ ]:
#2_2

pipeline = [
    
]